body {
background-color: #343a40;
}

.btnsearch {
  margin-top: 20px;
  margin-bottom: 100px;
}
.row-eq-height > [class^=col] {
  display: flex;
}

.row-eq-height > [class^=col] {
  flex-grow: 1;
}

.search {
  margin-top: 10%;
}

.open{
  margin-bottom: 10px;
}

.onecard{
margin-bottom: 5px;

}
.newrow {
  margin-bottom: 10px;
}
.price {
  font-size: 36px;
  color: white;
}
.description {
  color: white;
  margin-bottom: 20px;
}
.other{
  margin-top: 10px;

}
.bform {
  margin-top: 10px;
}
h1 {
  color: white;
 
 }

h2 {
  color: white;
  margin-bottom: 20px;
}
h3{
  color: white;
  margin-bottom: 20px;
}

label {
  color: white;
}
footer {
  margin-top: 5%;
  color: white;
}