body {
background-color: #343a40;
}

.btnsearch {
  margin-top: 20px;
  margin-bottom: 100px;
}


.search {
  margin-top: 10%;
}

.open{
  margin-bottom: 10px;
}

.onecard{
margin-bottom: 5px;

}
.newrow {
  margin-bottom: 10px;
}

h1 {
  color: white;
 
 }

h2 {
  color: white;
  margin-bottom: 20px;
}

footer {
  margin-top: 5%;
  color: white;
}